.preference {
    @include flexbox-col(center, center);

    &__card {
        @include flexbox-col(flex-start, center);
        background-color: #fff;
        padding: 2rem;
        border-radius: 1rem;
        &--title {
            font-size: 3rem;
        }
        &--image {
            width: 20rem;
            height: 20rem;
        }
    }

    &__control {
        @include flexbox-row(center, center);
        &--button {
            padding: 1rem;
            margin: 5rem 1rem;
            font-size: 3rem;
            border-radius: 50%;
            width: 7rem;
            height: 7rem;
            display: flex;
            background: rgba(245, 246, 250, 0.4);
            justify-content: center;
            align-items: center;
            font-size: 5rem;
            cursor: pointer;
            border: 1.5px solid #000;
        }

        .cross {
            background-color: #ff7979;
        }
        .check {
            background-color: #dfe6e9;
        }
        .heart {
            background-color: #55efc4;
        }
    }

    .credit_message {
        position: absolute;
        bottom: 8px;
        color: #fff;
    }
}
