@mixin flexbox-row($justify-content: flex-start, $align-items: stretch) {
    display: flex;
    flex-direction: row;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin flexbox-col($justify-content: flex-start, $align-items: stretch) {
    display: flex;
    flex-direction: column;
    justify-content: $justify-content;
    align-items: $align-items;
}